@charset "utf-8";

img {
	border: 0;
}

body { 
	margin: 0;
	padding: 0;
	background-color:#000000;
	font-family: "Lucida Grande","Verdana","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","ＭＳ Ｐゴシック", Osaka,"ＭＳ Ｐゴシック",sans-serif;
	}

#container {
	width: 980px;
	margin: 0 auto;
	padding: 0;
	text-align:center
	}

#header {
	height:80px;
	margin:auto;
	padding: 0;
	text-align:center;
	background-color:#FFFFFF
	/*background:url(../img/yasa/header.jpg) repeat-x bottom;*/
	}

